body {
    background-color: #656868;
}
    
h1, h2, h3 { 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.page {
    width: 900px;
    margin: 20px auto;
    background-color: #FFF9C4;
    border: 4px solid #F4F4EE;
}
/* HEADER */
.header {
    position: relative;
    height: 220px;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #F4F4EE;
}

.header-text h1 {
    color: #FCF8E3;
    margin: 0;
    font-size: 40px;
    letter-spacing: 6px;
}

.header-text h2 {
    margin: 5px 0 0;
    font-size: 16px;
    color: #E2D179;
}

/* CONTENT WRAPPER */
.content-wrapper {
    display: flex;
}

/* MAIN CONTENT */
.main-content {
    width: 65%;
    padding: 20px;
    background-color: #FCF8E3;
    color: #333333;
}

.section-title {
    color: #A0410D;
    margin-top: 0;
}

/* SIDEBAR */
.sidebar {
    width: 35%;
    background-color: #E2D179;
    padding: 15px;
    color: #333333;
    border-left: 2px dotted #151413;
}

.sidebar-header {
    background-color: #3A3B22;
    color: #FCF8E3;
    padding: 6px 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar p {
    margin: 10px 0 5px;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: square;
    padding-left: 20px;
}

.sidebar a {
    color: #0000EE;
    text-decoration: underline;
}

/* FOOTER */
.footer {
    position: relative;
    height: 80px;
    text-align: center;
    color: #FCF8E3;
}


.footer p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0;
    font-size: 14px;
    padding-bottom: 20px;
}


.footer img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
}

.footer p {
  text-align: center;
  color: #FCF8E3;
}